[Dd]ebug/
[Rr]elease/
x64/
x86/
.vscode/
*.DS_Store
*.log
*.user
*.lock
*.suo
*.bak
*.ncb
*.cache
*.ldb
*.pdb
*.opendb
*.sqlite
*.sqlitedb
*.log
*.tlog
*.vs/
.vscode/
.idea/
*.sln.docstates
.vscode/settings.json